<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.annaroxas.teamdiscovery">

    <supports-screens
        android:largeScreens="true"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="LLRP"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".System"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Create_user"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".AddChild"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".ChooseGame"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".ChildConfig"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".LoginPage"
            android:parentActivityName=".System"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".PresentReward"
            android:parentActivityName=".System"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".SuccessLogin"
            android:parentActivityName=".LoginPage"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name=".TestGame"
            android:screenOrientation="sensorLandscape">
        </activity>
    </application>

</manifest>